{% if items|length %}
    <section class="recent-posts">
        <h2>{{ title }}</h2>

        <div class="posts-grid">
            {% for item in items %}
                {% include item.type with item.data %}
            {% endfor %}
        </div>

        {% if link is defined and link is not null %}
            <div class="view-all-posts">
                <a href="{{ link.href }}" class="btn-primary">{{ link.text }}</a>
            </div>
        {% endif %}
    </section>
{% endif %}
